<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.unlcn.ils.tps.E_charge_listMapper">	

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  tps_charge_list.lineid ,
		  tps_charge_list.charge_name ,
		  tps_charge_list.create_time ,
		  tps_charge_list.create_user ,
		  tps_charge_list.active ,
		  tps_charge_list.active_user ,
		  tps_charge_list.active_time ,
		  tps_charge_list.active_memo 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="lineid != null">and tps_charge_list.lineid = #{lineid}</if>
	    <if test="chargeName != null">and tps_charge_list.charge_name = #{chargeName}</if>
	    <if test="createTime != null">and tps_charge_list.create_time = #{createTime}</if>
	    <if test="createUser != null">and tps_charge_list.create_user = #{createUser}</if>
	    <if test="active != null">and tps_charge_list.active = #{active}</if>
	    <if test="activeUser != null">and tps_charge_list.active_user = #{activeUser}</if>
	    <if test="activeTime != null">and tps_charge_list.active_time = #{activeTime}</if>
	    <if test="activeMemo != null">and tps_charge_list.active_memo = #{activeMemo}</if>
</sql>


<!-- ElementID:E_charge_listResult,Generated=true -->
<resultMap id="E_charge_listResult" type="com.unlcn.ils.tps.E_charge_list">
	<id property="lineid" column="lineid"/>
	<result property="chargeName" column="charge_name"/>
	<result property="createTime" column="create_time"/>
	<result property="createUser" column="create_user"/>
	<result property="active" column="active"/>
	<result property="activeUser" column="active_user"/>
	<result property="activeTime" column="active_time"/>
	<result property="activeMemo" column="active_memo"/>
</resultMap>


<!-- ElementName:cache,Generated=true -->
<cache type="C2_Default_Dao_Cache"/>

<!-- ElementID:insert,Generated=true -->
<insert id="insert" parameterType="com.unlcn.ils.tps.E_charge_list">
	insert into tps_charge_list(
	         <if test="lineid != null">lineid</if>
	         <if test="chargeName != null">,charge_name</if>
	         <if test="createTime != null">,create_time</if>
	         <if test="createUser != null">,create_user</if>
	         <if test="active != null">,active</if>
	         <if test="activeUser != null">,active_user</if>
	         <if test="activeTime != null">,active_time</if>
	         <if test="activeMemo != null">,active_memo</if>
	 	 	 )
	 values (
	         <if test="lineid != null">#{lineid,jdbcType=VARCHAR}</if>
	         <if test="chargeName != null">,#{chargeName,jdbcType=VARCHAR}</if>
	         <if test="createTime != null">,#{createTime,jdbcType=TIMESTAMP}</if>
	         <if test="createUser != null">,#{createUser,jdbcType=VARCHAR}</if>
	         <if test="active != null">,#{active,jdbcType=NUMERIC}</if>
	         <if test="activeUser != null">,#{activeUser,jdbcType=VARCHAR}</if>
	         <if test="activeTime != null">,#{activeTime,jdbcType=TIMESTAMP}</if>
	         <if test="activeMemo != null">,#{activeMemo,jdbcType=VARCHAR}</if>
	 	 	 )
</insert>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.unlcn.ils.tps.E_charge_list" resultType="int">
	select count(*) from tps_charge_list 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.unlcn.ils.tps.E_charge_list">
	update tps_charge_list
<set>
	<if test="chargeName != null">charge_name=#{chargeName,jdbcType=VARCHAR},</if>
	<if test="createTime != null">create_time=#{createTime,jdbcType=TIMESTAMP},</if>
	<if test="createUser != null">create_user=#{createUser,jdbcType=VARCHAR},</if>
	<if test="active != null">active=#{active,jdbcType=NUMERIC},</if>
	<if test="activeUser != null">active_user=#{activeUser,jdbcType=VARCHAR},</if>
	<if test="activeTime != null">active_time=#{activeTime,jdbcType=TIMESTAMP},</if>
	<if test="activeMemo != null">active_memo=#{activeMemo,jdbcType=VARCHAR}</if>
</set>
<where>
	<choose>
        <when test="lineid != null">and lineid = #{lineid}</when>
        <otherwise>and lineid = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=true -->
<update id="updateNull" parameterType="map">
	update tps_charge_list
	<set>
		<trim suffixOverrides=",">
		    <if test="chargeName==null">charge_name = null,</if>
		    <if test="createTime==null">create_time = null,</if>
		    <if test="createUser==null">create_user = null,</if>
		    <if test="active==null">active = null,</if>
		    <if test="activeUser==null">active_user = null,</if>
		    <if test="activeTime==null">active_time = null,</if>
		    <if test="activeMemo==null">active_memo = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="lineid != null">and lineid = #{lineid}</when>
			<otherwise>and lineid = </otherwise>
		</choose>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.unlcn.ils.tps.E_charge_list">
    delete from tps_charge_list where 1=1 and lineid = #{lineid}
</delete>

<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="com.unlcn.ils.tps.E_charge_list" resultMap="E_charge_listResult">
	select 
		<include refid="column_sql"/>
	    from tps_charge_list 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list">
	insert into tps_charge_list (lineid,charge_name,create_time,create_user,active,active_user,active_time,active_memo) 
<foreach collection="list" item="entity" index="index" separator="union all">
		select 
		#{entity.lineid,jdbcType = VARCHAR},
				#{entity.chargeName,jdbcType = VARCHAR},
				#{entity.createTime,jdbcType = TIMESTAMP},
				#{entity.createUser,jdbcType = VARCHAR},
				#{entity.active,jdbcType = NUMERIC},
				#{entity.activeUser,jdbcType = VARCHAR},
				#{entity.activeTime,jdbcType = TIMESTAMP},
				#{entity.activeMemo,jdbcType = VARCHAR}
		from dual
</foreach>
</insert>

<!-- ElementID:deleteBatch,Generated=true -->
<delete id="deleteBatch" parameterType="List">
	delete from tps_charge_list where lineid in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	#{entity.lineid}
</foreach>
</trim>
</delete>

<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="E_charge_listResult">
	select 
		<include refid="column_sql"/>
	    from tps_charge_list 
</select>

<!-- ElementID:selectByID,Generated=true -->
<select id="selectByID" parameterType="java.lang.String" resultMap="E_charge_listResult">
	select 
		<include refid="column_sql"/>
	    from tps_charge_list 
		 where tps_charge_list.lineid = #{lineid,jdbcType=VARCHAR}
</select>

<!-- ElementID:selectByPage,Generated=true -->
<select id="selectByPage" parameterType="com.unlcn.ils.tps.E_charge_list" resultMap="E_charge_listResult">
	select 
		<include refid="column_sql"/>
	    from tps_charge_list 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="E_charge_listResult">
select 
	<include refid="column_sql"/> 
	from tps_charge_list 
	where tps_charge_list.lineid in (
		select distinct lineid from tps_charge_list inner join
<foreach collection="list" item="entity" separator="inner join">
		(select 
			distinct lineid
			from tps_charge_list 
			<where>
	        <if test="entity.lineid != null">and tps_charge_list.lineid = #{entity.lineid}</if>
	        <if test="entity.chargeName != null">and tps_charge_list.charge_name = #{entity.chargeName}</if>
	        <if test="entity.createTime != null">and tps_charge_list.create_time = #{entity.createTime}</if>
	        <if test="entity.createUser != null">and tps_charge_list.create_user = #{entity.createUser}</if>
	        <if test="entity.active != null">and tps_charge_list.active = #{entity.active}</if>
	        <if test="entity.activeUser != null">and tps_charge_list.active_user = #{entity.activeUser}</if>
	        <if test="entity.activeTime != null">and tps_charge_list.active_time = #{entity.activeTime}</if>
	        <if test="entity.activeMemo != null">and tps_charge_list.active_memo = #{entity.activeMemo}</if>
			</where>
		) ${entity.tableAlias} using (lineid)
</foreach>
)
</select>
</mapper>