<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.unlcn.ils.tps.E_fleetshareMapper">	

<!-- Generated=true -->

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  tps_share.lineid ,
		  tps_share.shipper_id ,
		  tps_share.lineno ,
		  tps_share.start_city_id ,
		  tps_share.start_city ,
		  tps_share.dest_province_id ,
		  tps_share.dest_province ,
		  tps_share.scale ,
		  tps_share.totalqty ,
		  tps_share.begin_date ,
		  tps_share.end_date ,
		  tps_share.create_time ,
		  tps_share.create_user ,
		  tps_share.active ,
		  tps_share.active_user ,
		  tps_share.active_time ,
		  tps_share.active_memo ,
		  tps_share.shipper_name 
</sql>

<!-- ElementID:whereClause_sql,Generated=false -->
<sql id="whereClause_sql">
	    <if test="lineid != null">and tps_share.lineid = #{lineid}</if>
	    <if test="shipperId != null">and tps_share.shipper_id = #{shipperId}</if>
	    <if test="lineno != null">and tps_share.lineno = #{lineno}</if>
	    <if test="startCityId != null">and tps_share.start_city_id = #{startCityId}</if>
	    <if test="startCity != null">and tps_share.start_city = #{startCity}</if>
	    <if test="destProvinceId != null">and tps_share.dest_province_id = #{destProvinceId}</if>
	    <if test="destProvince != null">and tps_share.dest_province = #{destProvince}</if>
	    <if test="scale != null">and tps_share.scale = #{scale}</if>
	    <if test="totalqty != null">and tps_share.totalqty = #{totalqty}</if>
	    <if test="beginDate != null">and tps_share.begin_date = #{beginDate}</if>
	    <if test="endDate != null">and tps_share.end_date = #{endDate}</if>
	    <if test="createTime != null">and tps_share.create_time = #{createTime}</if>
	    <if test="createUser != null">and tps_share.create_user = #{createUser}</if>
	    <if test="active != null">and tps_share.active = #{active}</if>
	    <if test="activeUser != null">and tps_share.active_user = #{activeUser}</if>
	    <if test="activeTime != null">and tps_share.active_time = #{activeTime}</if>
	    <if test="activeMemo != null">and tps_share.active_memo = #{activeMemo}</if>
		and tps_share.active=1
</sql>


<!-- ElementID:E_fleetshareResult,Generated=true -->
<resultMap id="E_fleetshareResult" type="com.unlcn.ils.tps.E_fleetshare">
	<id property="lineid" column="lineid"/>
	<result property="shipperId" column="shipper_id"/>
	<result property="lineno" column="lineno"/>
	<result property="startCityId" column="start_city_id"/>
	<result property="startCity" column="start_city"/>
	<result property="destProvinceId" column="dest_province_id"/>
	<result property="destProvince" column="dest_province"/>
	<result property="scale" column="scale"/>
	<result property="totalqty" column="totalqty"/>
	<result property="beginDate" column="begin_date"/>
	<result property="endDate" column="end_date"/>
	<result property="createTime" column="create_time"/>
	<result property="createUser" column="create_user"/>
	<result property="active" column="active"/>
	<result property="activeUser" column="active_user"/>
	<result property="activeTime" column="active_time"/>
	<result property="activeMemo" column="active_memo"/>
	<result property="shipperName" column="shipper_name"/>
</resultMap>


<!-- ElementName:cache,Generated=true -->
<cache type="C2_Default_Dao_Cache"/>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.unlcn.ils.tps.E_fleetshare" resultType="int">
	select count(*) from tps_share 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.unlcn.ils.tps.E_fleetshare">
	update tps_share
<set>
	<if test="shipperId != null">shipper_id=#{shipperId,jdbcType=VARCHAR},</if>
	<if test="lineno != null">lineno=#{lineno,jdbcType=VARCHAR},</if>
	<if test="startCityId != null">start_city_id=#{startCityId,jdbcType=NUMERIC},</if>
	<if test="startCity != null">start_city=#{startCity,jdbcType=VARCHAR},</if>
	<if test="destProvinceId != null">dest_province_id=#{destProvinceId,jdbcType=NUMERIC},</if>
	<if test="destProvince != null">dest_province=#{destProvince,jdbcType=VARCHAR},</if>
	<if test="scale != null">scale=#{scale,jdbcType=NUMERIC},</if>
	<if test="totalqty != null">totalqty=#{totalqty,jdbcType=NUMERIC},</if>
	<if test="beginDate != null">begin_date=#{beginDate,jdbcType=TIMESTAMP},</if>
	<if test="endDate != null">end_date=#{endDate,jdbcType=TIMESTAMP},</if>
	<if test="createTime != null">create_time=#{createTime,jdbcType=TIMESTAMP},</if>
	<if test="createUser != null">create_user=#{createUser,jdbcType=VARCHAR},</if>
	<if test="active != null">active=#{active,jdbcType=NUMERIC},</if>
	<if test="activeUser != null">active_user=#{activeUser,jdbcType=VARCHAR},</if>
	<if test="activeTime != null">active_time=#{activeTime,jdbcType=TIMESTAMP},</if>
	<if test="activeMemo != null">active_memo=#{activeMemo,jdbcType=VARCHAR},</if>
	<if test="shipperName != null">shipper_name=#{shipperName,jdbcType=VARCHAR}</if>
</set>
<where>
	<choose>
        <when test="lineid != null">and lineid = #{lineid}</when>
        <otherwise>and lineid = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=true -->
<update id="updateNull" parameterType="map">
	update tps_share
	<set>
		<trim suffixOverrides=",">
		    <if test="shipperId==null">shipper_id = null,</if>
		    <if test="lineno==null">lineno = null,</if>
		    <if test="startCityId==null">start_city_id = null,</if>
		    <if test="startCity==null">start_city = null,</if>
		    <if test="destProvinceId==null">dest_province_id = null,</if>
		    <if test="destProvince==null">dest_province = null,</if>
		    <if test="scale==null">scale = null,</if>
		    <if test="totalqty==null">totalqty = null,</if>
		    <if test="beginDate==null">begin_date = null,</if>
		    <if test="endDate==null">end_date = null,</if>
		    <if test="createTime==null">create_time = null,</if>
		    <if test="createUser==null">create_user = null,</if>
		    <if test="active==null">active = null,</if>
		    <if test="activeUser==null">active_user = null,</if>
		    <if test="activeTime==null">active_time = null,</if>
		    <if test="activeMemo==null">active_memo = null,</if>
		    <if test="shipperName==null">shipper_name = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="lineid != null">and lineid = #{lineid}</when>
			<otherwise>and lineid = </otherwise>
		</choose>
	</where>
</update>




<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="com.unlcn.ils.tps.E_fleetshare" resultMap="E_fleetshareResult">
	select 
		<include refid="column_sql"/>
	    from tps_share 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>





<!-- ElementID:selectAll,Generated=false -->
<select id="selectAll" resultMap="E_fleetshareResult">
	select 
		<include refid="column_sql"/>
	    from tps_share where active=1
</select>

<!-- ElementID:selectByID,Generated=false -->
<select id="selectByID" parameterType="java.lang.Integer" resultMap="E_fleetshareResult">
	select 
		<include refid="column_sql"/>
	    from tps_share 
		 where tps_share.lineid = #{lineid,jdbcType=NUMERIC}
		and tps_share.active =1
</select>

<!-- ElementID:selectByPage,Generated=true -->
<select id="selectByPage" parameterType="com.unlcn.ils.tps.E_fleetshare" resultMap="E_fleetshareResult">
	select 
		<include refid="column_sql"/>
	    from tps_share 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:selectMany,Generated=false -->
<select id="selectMany" parameterType="list" resultMap="E_fleetshareResult">
select 
	<include refid="column_sql"/> 
	from tps_share 
	where tps_share.lineid in (
		select distinct lineid from tps_share inner join
<foreach collection="list" item="entity" separator="inner join">
		(select 
			distinct lineid
			from tps_share 
			<where>
	        <if test="entity.lineid != null">and tps_share.lineid = #{entity.lineid}</if>
	        <if test="entity.shipperId != null">and tps_share.shipper_id = #{entity.shipperId}</if>
	        <if test="entity.lineno != null">and tps_share.lineno = #{entity.lineno}</if>
	        <if test="entity.startCityId != null">and tps_share.start_city_id = #{entity.startCityId}</if>
	        <if test="entity.startCity != null">and tps_share.start_city = #{entity.startCity}</if>
	        <if test="entity.destProvinceId != null">and tps_share.dest_province_id = #{entity.destProvinceId}</if>
	        <if test="entity.destProvince != null">and tps_share.dest_province = #{entity.destProvince}</if>
	        <if test="entity.scale != null">and tps_share.scale = #{entity.scale}</if>
	        <if test="entity.totalqty != null">and tps_share.totalqty = #{entity.totalqty}</if>
	        <if test="entity.beginDate != null">and tps_share.begin_date = #{entity.beginDate}</if>
	        <if test="entity.endDate != null">and tps_share.end_date = #{entity.endDate}</if>
	        <if test="entity.createTime != null">and tps_share.create_time = #{entity.createTime}</if>
	        <if test="entity.createUser != null">and tps_share.create_user = #{entity.createUser}</if>
	        <if test="entity.active != null">and tps_share.active = #{entity.active}</if>
	        <if test="entity.activeUser != null">and tps_share.active_user = #{entity.activeUser}</if>
	        <if test="entity.activeTime != null">and tps_share.active_time = #{entity.activeTime}</if>
	        <if test="entity.activeMemo != null">and tps_share.active_memo = #{entity.activeMemo}</if>
		    and tps_share.active =1
			</where>
		) ${entity.tableAlias} using (lineid)
</foreach>
)
</select>

<!-- ElementID:insert,Generated=true -->
<insert id="insert" parameterType="com.unlcn.ils.tps.E_fleetshare">
	insert into tps_share(
	         <if test="lineid != null">lineid</if>
	         <if test="shipperId != null">,shipper_id</if>
	         <if test="lineno != null">,lineno</if>
	         <if test="startCityId != null">,start_city_id</if>
	         <if test="startCity != null">,start_city</if>
	         <if test="destProvinceId != null">,dest_province_id</if>
	         <if test="destProvince != null">,dest_province</if>
	         <if test="scale != null">,scale</if>
	         <if test="totalqty != null">,totalqty</if>
	         <if test="beginDate != null">,begin_date</if>
	         <if test="endDate != null">,end_date</if>
	         <if test="createTime != null">,create_time</if>
	         <if test="createUser != null">,create_user</if>
	         <if test="active != null">,active</if>
	         <if test="activeUser != null">,active_user</if>
	         <if test="activeTime != null">,active_time</if>
	         <if test="activeMemo != null">,active_memo</if>
	         <if test="shipperName != null">,shipper_name</if>
	 	 	 )
	 values (
	         <if test="lineid != null">#{lineid,jdbcType=VARCHAR}</if>
	         <if test="shipperId != null">,#{shipperId,jdbcType=VARCHAR}</if>
	         <if test="lineno != null">,#{lineno,jdbcType=VARCHAR}</if>
	         <if test="startCityId != null">,#{startCityId,jdbcType=NUMERIC}</if>
	         <if test="startCity != null">,#{startCity,jdbcType=VARCHAR}</if>
	         <if test="destProvinceId != null">,#{destProvinceId,jdbcType=NUMERIC}</if>
	         <if test="destProvince != null">,#{destProvince,jdbcType=VARCHAR}</if>
	         <if test="scale != null">,#{scale,jdbcType=NUMERIC}</if>
	         <if test="totalqty != null">,#{totalqty,jdbcType=NUMERIC}</if>
	         <if test="beginDate != null">,#{beginDate,jdbcType=TIMESTAMP}</if>
	         <if test="endDate != null">,#{endDate,jdbcType=TIMESTAMP}</if>
	         <if test="createTime != null">,#{createTime,jdbcType=TIMESTAMP}</if>
	         <if test="createUser != null">,#{createUser,jdbcType=VARCHAR}</if>
	         <if test="active != null">,#{active,jdbcType=NUMERIC}</if>
	         <if test="activeUser != null">,#{activeUser,jdbcType=VARCHAR}</if>
	         <if test="activeTime != null">,#{activeTime,jdbcType=TIMESTAMP}</if>
	         <if test="activeMemo != null">,#{activeMemo,jdbcType=VARCHAR}</if>
	         <if test="shipperName != null">,#{shipperName,jdbcType=VARCHAR}</if>
	 	 	 )
</insert>

<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list">
	insert into tps_share (lineid,shipper_id,lineno,start_city_id,start_city,dest_province_id,dest_province,scale,totalqty,begin_date,end_date,create_time,create_user,active,active_user,active_time,active_memo,shipper_name) 
<foreach collection="list" item="entity" index="index" separator="union all">
		select 
		#{entity.lineid,jdbcType = VARCHAR},
				#{entity.shipperId,jdbcType = VARCHAR},
				#{entity.lineno,jdbcType = VARCHAR},
				#{entity.startCityId,jdbcType = NUMERIC},
				#{entity.startCity,jdbcType = VARCHAR},
				#{entity.destProvinceId,jdbcType = NUMERIC},
				#{entity.destProvince,jdbcType = VARCHAR},
				#{entity.scale,jdbcType = NUMERIC},
				#{entity.totalqty,jdbcType = NUMERIC},
				#{entity.beginDate,jdbcType = TIMESTAMP},
				#{entity.endDate,jdbcType = TIMESTAMP},
				#{entity.createTime,jdbcType = TIMESTAMP},
				#{entity.createUser,jdbcType = VARCHAR},
				#{entity.active,jdbcType = NUMERIC},
				#{entity.activeUser,jdbcType = VARCHAR},
				#{entity.activeTime,jdbcType = TIMESTAMP},
				#{entity.activeMemo,jdbcType = VARCHAR},
				#{entity.shipperName,jdbcType = VARCHAR}
		from dual
</foreach>
</insert>
<!--Generated=false-->
<update id="deleteLogic" parameterType="Map">
	update tps_share set tps_share.active = 0,
		tps_share.active_Time=Now(),tps_share.active_user=#{activeuser},tps_share.active_memo=#{activememo}
where tps_share.active=1 and lineid in (#{lineid})
</update>
<!--Generated=false-->
<update id="deleteBatchLogic" parameterType="List">
			update tps_share 
				set tps_share.active = 0,
				tps_share.active_Time=Now(),tps_share.active_user=#{activeuser},tps_share.active_memo=#{activememo}
			where tps_share.lineid in 
		<foreach collection="listlineid" item="data" index="index" open="(" separator="," close=")">
				<if test="data != null">
					#{data}
				</if>
		</foreach>
</update>
<!--Generated=true-->
<delete id="delete" parameterType="com.unlcn.ils.tps.E_fleetshare">
    delete from tps_share where 1=1 and lineid = #{lineid}
</delete>
<!--Generated=true-->
<delete id="deleteBatch" parameterType="List">
	delete from tps_share where lineid in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	#{entity.lineid}
</foreach>
</trim>
</delete>








</mapper>