<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.unlcn.ils.tps.E_frozenheadMapper">	

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  tps_frozen_head.lineid ,
		  tps_frozen_head.checkhead_lineid ,
		  tps_frozen_head.frozenvalue ,
		  tps_frozen_head.frozen_status ,
		  tps_frozen_head.cancelfrozenvalue ,
		  tps_frozen_head.start_date ,
		  tps_frozen_head.end_date ,
		  tps_frozen_head.create_username ,
		  tps_frozen_head.create_time ,
		  tps_frozen_head.active ,
		  tps_frozen_head.active_user ,
		  tps_frozen_head.active_time ,
		  tps_frozen_head.active_memo 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="lineid != null">and tps_frozen_head.lineid = #{lineid}</if>
	    <if test="checkheadLineid != null">and tps_frozen_head.checkhead_lineid = #{checkheadLineid}</if>
	    <if test="frozenvalue != null">and tps_frozen_head.frozenvalue = #{frozenvalue}</if>
	    <if test="frozenStatus != null">and tps_frozen_head.frozen_status = #{frozenStatus}</if>
	    <if test="cancelfrozenvalue != null">and tps_frozen_head.cancelfrozenvalue = #{cancelfrozenvalue}</if>
	    <if test="startDate != null">and tps_frozen_head.start_date = #{startDate}</if>
	    <if test="endDate != null">and tps_frozen_head.end_date = #{endDate}</if>
	    <if test="createUsername != null">and tps_frozen_head.create_username = #{createUsername}</if>
	    <if test="createTime != null">and tps_frozen_head.create_time = #{createTime}</if>
	    <if test="active != null">and tps_frozen_head.active = #{active}</if>
	    <if test="activeUser != null">and tps_frozen_head.active_user = #{activeUser}</if>
	    <if test="activeTime != null">and tps_frozen_head.active_time = #{activeTime}</if>
	    <if test="activeMemo != null">and tps_frozen_head.active_memo = #{activeMemo}</if>
</sql>


<!-- ElementID:E_frozenheadResult,Generated=true -->
<resultMap id="E_frozenheadResult" type="com.unlcn.ils.tps.E_frozenhead">
	<id property="lineid" column="lineid"/>
	<result property="checkheadLineid" column="checkhead_lineid"/>
	<result property="frozenvalue" column="frozenvalue"/>
	<result property="frozenStatus" column="frozen_status"/>
	<result property="cancelfrozenvalue" column="cancelfrozenvalue"/>
	<result property="startDate" column="start_date"/>
	<result property="endDate" column="end_date"/>
	<result property="createUsername" column="create_username"/>
	<result property="createTime" column="create_time"/>
	<result property="active" column="active"/>
	<result property="activeUser" column="active_user"/>
	<result property="activeTime" column="active_time"/>
	<result property="activeMemo" column="active_memo"/>
</resultMap>


<!-- ElementName:cache,Generated=true -->
<cache type="C2_Default_Dao_Cache"/>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.unlcn.ils.tps.E_frozenhead" resultType="int">
	select count(*) from tps_frozen_head 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.unlcn.ils.tps.E_frozenhead">
	update tps_frozen_head
<set>
	<if test="checkheadLineid != null">checkhead_lineid=#{checkheadLineid,jdbcType=VARCHAR},</if>
	<if test="frozenvalue != null">frozenvalue=#{frozenvalue,jdbcType=NUMERIC},</if>
	<if test="frozenStatus != null">frozen_status=#{frozenStatus,jdbcType=NUMERIC},</if>
	<if test="cancelfrozenvalue != null">cancelfrozenvalue=#{cancelfrozenvalue,jdbcType=NUMERIC},</if>
	<if test="startDate != null">start_date=#{startDate,jdbcType=TIMESTAMP},</if>
	<if test="endDate != null">end_date=#{endDate,jdbcType=TIMESTAMP},</if>
	<if test="createUsername != null">create_username=#{createUsername,jdbcType=VARCHAR},</if>
	<if test="createTime != null">create_time=#{createTime,jdbcType=TIMESTAMP},</if>
	<if test="active != null">active=#{active,jdbcType=NUMERIC},</if>
	<if test="activeUser != null">active_user=#{activeUser,jdbcType=VARCHAR},</if>
	<if test="activeTime != null">active_time=#{activeTime,jdbcType=TIMESTAMP},</if>
	<if test="activeMemo != null">active_memo=#{activeMemo,jdbcType=VARCHAR}</if>
</set>
<where>
	<choose>
        <when test="lineid != null">and lineid = #{lineid}</when>
        <otherwise>and lineid = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=true -->
<update id="updateNull" parameterType="map">
	update tps_frozen_head
	<set>
		<trim suffixOverrides=",">
		    <if test="checkheadLineid==null">checkhead_lineid = null,</if>
		    <if test="frozenvalue==null">frozenvalue = null,</if>
		    <if test="frozenStatus==null">frozen_status = null,</if>
		    <if test="cancelfrozenvalue==null">cancelfrozenvalue = null,</if>
		    <if test="startDate==null">start_date = null,</if>
		    <if test="endDate==null">end_date = null,</if>
		    <if test="createUsername==null">create_username = null,</if>
		    <if test="createTime==null">create_time = null,</if>
		    <if test="active==null">active = null,</if>
		    <if test="activeUser==null">active_user = null,</if>
		    <if test="activeTime==null">active_time = null,</if>
		    <if test="activeMemo==null">active_memo = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="lineid != null">and lineid = #{lineid}</when>
			<otherwise>and lineid = </otherwise>
		</choose>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.unlcn.ils.tps.E_frozenhead">
    delete from tps_frozen_head where 1=1 and lineid = #{lineid}
</delete>

<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="com.unlcn.ils.tps.E_frozenhead" resultMap="E_frozenheadResult">
	select 
		<include refid="column_sql"/>
	    from tps_frozen_head 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:deleteBatch,Generated=true -->
<delete id="deleteBatch" parameterType="List">
	delete from tps_frozen_head where lineid in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	#{entity.lineid}
</foreach>
</trim>
</delete>

<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="E_frozenheadResult">
	select 
		<include refid="column_sql"/>
	    from tps_frozen_head 
</select>

<!-- ElementID:selectByID,Generated=true -->
<select id="selectByID" parameterType="java.lang.String" resultMap="E_frozenheadResult">
	select 
		<include refid="column_sql"/>
	    from tps_frozen_head 
		 where tps_frozen_head.lineid = #{lineid,jdbcType=VARCHAR}
</select>

<!-- ElementID:selectByPage,Generated=true -->
<select id="selectByPage" parameterType="com.unlcn.ils.tps.E_frozenhead" resultMap="E_frozenheadResult">
	select 
		<include refid="column_sql"/>
	    from tps_frozen_head 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="E_frozenheadResult">
select 
	<include refid="column_sql"/> 
	from tps_frozen_head 
	where tps_frozen_head.lineid in (
		select distinct lineid from tps_frozen_head inner join
<foreach collection="list" item="entity" separator="inner join">
		(select 
			distinct lineid
			from tps_frozen_head 
			<where>
	        <if test="entity.lineid != null">and tps_frozen_head.lineid = #{entity.lineid}</if>
	        <if test="entity.checkheadLineid != null">and tps_frozen_head.checkhead_lineid = #{entity.checkheadLineid}</if>
	        <if test="entity.frozenvalue != null">and tps_frozen_head.frozenvalue = #{entity.frozenvalue}</if>
	        <if test="entity.frozenStatus != null">and tps_frozen_head.frozen_status = #{entity.frozenStatus}</if>
	        <if test="entity.cancelfrozenvalue != null">and tps_frozen_head.cancelfrozenvalue = #{entity.cancelfrozenvalue}</if>
	        <if test="entity.startDate != null">and tps_frozen_head.start_date = #{entity.startDate}</if>
	        <if test="entity.endDate != null">and tps_frozen_head.end_date = #{entity.endDate}</if>
	        <if test="entity.createUsername != null">and tps_frozen_head.create_username = #{entity.createUsername}</if>
	        <if test="entity.createTime != null">and tps_frozen_head.create_time = #{entity.createTime}</if>
	        <if test="entity.active != null">and tps_frozen_head.active = #{entity.active}</if>
	        <if test="entity.activeUser != null">and tps_frozen_head.active_user = #{entity.activeUser}</if>
	        <if test="entity.activeTime != null">and tps_frozen_head.active_time = #{entity.activeTime}</if>
	        <if test="entity.activeMemo != null">and tps_frozen_head.active_memo = #{entity.activeMemo}</if>
			</where>
		) ${entity.tableAlias} using (lineid)
</foreach>
)
</select>

<!-- ElementID:insert,Generated=true -->
<insert id="insert" parameterType="com.unlcn.ils.tps.E_frozenhead">
	insert into tps_frozen_head(
	         <if test="lineid != null">lineid</if>
	         <if test="checkheadLineid != null">,checkhead_lineid</if>
	         <if test="frozenvalue != null">,frozenvalue</if>
	         <if test="frozenStatus != null">,frozen_status</if>
	         <if test="cancelfrozenvalue != null">,cancelfrozenvalue</if>
	         <if test="startDate != null">,start_date</if>
	         <if test="endDate != null">,end_date</if>
	         <if test="createUsername != null">,create_username</if>
	         <if test="createTime != null">,create_time</if>
	         <if test="active != null">,active</if>
	         <if test="activeUser != null">,active_user</if>
	         <if test="activeTime != null">,active_time</if>
	         <if test="activeMemo != null">,active_memo</if>
	 	 	 )
	 values (
	         <if test="lineid != null">#{lineid,jdbcType=VARCHAR}</if>
	         <if test="checkheadLineid != null">,#{checkheadLineid,jdbcType=VARCHAR}</if>
	         <if test="frozenvalue != null">,#{frozenvalue,jdbcType=NUMERIC}</if>
	         <if test="frozenStatus != null">,#{frozenStatus,jdbcType=NUMERIC}</if>
	         <if test="cancelfrozenvalue != null">,#{cancelfrozenvalue,jdbcType=NUMERIC}</if>
	         <if test="startDate != null">,#{startDate,jdbcType=TIMESTAMP}</if>
	         <if test="endDate != null">,#{endDate,jdbcType=TIMESTAMP}</if>
	         <if test="createUsername != null">,#{createUsername,jdbcType=VARCHAR}</if>
	         <if test="createTime != null">,#{createTime,jdbcType=TIMESTAMP}</if>
	         <if test="active != null">,#{active,jdbcType=NUMERIC}</if>
	         <if test="activeUser != null">,#{activeUser,jdbcType=VARCHAR}</if>
	         <if test="activeTime != null">,#{activeTime,jdbcType=TIMESTAMP}</if>
	         <if test="activeMemo != null">,#{activeMemo,jdbcType=VARCHAR}</if>
	 	 	 )
</insert>

<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list">
	insert into tps_frozen_head (lineid,checkhead_lineid,frozenvalue,frozen_status,cancelfrozenvalue,start_date,end_date,create_username,create_time,active,active_user,active_time,active_memo) 
<foreach collection="list" item="entity" index="index" separator="union all">
		select 
		#{entity.lineid,jdbcType = VARCHAR},
				#{entity.checkheadLineid,jdbcType = VARCHAR},
				#{entity.frozenvalue,jdbcType = NUMERIC},
				#{entity.frozenStatus,jdbcType = NUMERIC},
				#{entity.cancelfrozenvalue,jdbcType = NUMERIC},
				#{entity.startDate,jdbcType = TIMESTAMP},
				#{entity.endDate,jdbcType = TIMESTAMP},
				#{entity.createUsername,jdbcType = VARCHAR},
				#{entity.createTime,jdbcType = TIMESTAMP},
				#{entity.active,jdbcType = NUMERIC},
				#{entity.activeUser,jdbcType = VARCHAR},
				#{entity.activeTime,jdbcType = TIMESTAMP},
				#{entity.activeMemo,jdbcType = VARCHAR}
		from dual
</foreach>
</insert>
<select id="getMaxId" resultMap="E_frozenheadResult">
	SELECT * FROM tps_frozen_head ORDER BY Create_Time DESC;
</select>
<select id="selectByCheckHeadLineid" parameterType="java.lang.Integer" resultMap="E_frozenheadResult">
	select 
		<include refid="column_sql"/>
	    from tps_frozen_head 
		 where tps_frozen_head.checkhead_lineid = #{checkhead_lineid}
</select>
</mapper>