<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.unlcn.ils.tps.E_joinIntentLineMapper">	

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  tps_join_intentline.lineid ,
		  tps_join_intentline.start_city ,
		  tps_join_intentline.dest_province ,
		  tps_join_intentline.price ,
		  tps_join_intentline.qty ,
		  tps_join_intentline.create_time ,
		  tps_join_intentline.create_user ,
		  tps_join_intentline.join_id ,
		  tps_join_intentline.active ,
		  tps_join_intentline.active_user ,
		  tps_join_intentline.active_time ,
		  tps_join_intentline.active_memo ,
		  tps_join_intentline.join_flag 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="lineid != null">and tps_join_intentline.lineid = #{lineid}</if>
	    <if test="startCity != null">and tps_join_intentline.start_city = #{startCity}</if>
	    <if test="destProvince != null">and tps_join_intentline.dest_province = #{destProvince}</if>
	    <if test="price != null">and tps_join_intentline.price = #{price}</if>
	    <if test="qty != null">and tps_join_intentline.qty = #{qty}</if>
	    <if test="createTime != null">and tps_join_intentline.create_time = #{createTime}</if>
	    <if test="createUser != null">and tps_join_intentline.create_user = #{createUser}</if>
	    <if test="joinId != null">and tps_join_intentline.join_id = #{joinId}</if>
	    <if test="active != null">and tps_join_intentline.active = #{active}</if>
	    <if test="activeUser != null">and tps_join_intentline.active_user = #{activeUser}</if>
	    <if test="activeTime != null">and tps_join_intentline.active_time = #{activeTime}</if>
	    <if test="activeMemo != null">and tps_join_intentline.active_memo = #{activeMemo}</if>
	    <if test="joinFlag != null">and tps_join_intentline.join_flag = #{joinFlag}</if>
</sql>


<!-- ElementID:E_joinIntentLineResult,Generated=true -->
<resultMap id="E_joinIntentLineResult" type="com.unlcn.ils.tps.E_joinIntentLine">
	<id property="lineid" column="lineid"/>
	<result property="startCity" column="start_city"/>
	<result property="destProvince" column="dest_province"/>
	<result property="price" column="price"/>
	<result property="qty" column="qty"/>
	<result property="createTime" column="create_time"/>
	<result property="createUser" column="create_user"/>
	<result property="joinId" column="join_id"/>
	<result property="active" column="active"/>
	<result property="activeUser" column="active_user"/>
	<result property="activeTime" column="active_time"/>
	<result property="activeMemo" column="active_memo"/>
	<result property="joinFlag" column="join_flag"/>
</resultMap>


<!-- ElementName:cache,Generated=true -->
<cache type="C2_Default_Dao_Cache"/>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.unlcn.ils.tps.E_joinIntentLine" resultType="int">
	select count(*) from tps_join_intentline 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.unlcn.ils.tps.E_joinIntentLine">
	update tps_join_intentline
<set>
	<if test="startCity != null">start_city=#{startCity,jdbcType=VARCHAR},</if>
	<if test="destProvince != null">dest_province=#{destProvince,jdbcType=VARCHAR},</if>
	<if test="price != null">price=#{price,jdbcType=NUMERIC},</if>
	<if test="qty != null">qty=#{qty,jdbcType=NUMERIC},</if>
	<if test="createTime != null">create_time=#{createTime,jdbcType=TIMESTAMP},</if>
	<if test="createUser != null">create_user=#{createUser,jdbcType=VARCHAR},</if>
	<if test="joinId != null">join_id=#{joinId,jdbcType=VARCHAR},</if>
	<if test="active != null">active=#{active,jdbcType=NUMERIC},</if>
	<if test="activeUser != null">active_user=#{activeUser,jdbcType=VARCHAR},</if>
	<if test="activeTime != null">active_time=#{activeTime,jdbcType=TIMESTAMP},</if>
	<if test="activeMemo != null">active_memo=#{activeMemo,jdbcType=VARCHAR},</if>
	<if test="joinFlag != null">join_flag=#{joinFlag,jdbcType=NUMERIC}</if>
</set>
<where>
	<choose>
        <when test="lineid != null">and lineid = #{lineid}</when>
        <otherwise>and lineid = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=true -->
<update id="updateNull" parameterType="map">
	update tps_join_intentline
	<set>
		<trim suffixOverrides=",">
		    <if test="startCity==null">start_city = null,</if>
		    <if test="destProvince==null">dest_province = null,</if>
		    <if test="price==null">price = null,</if>
		    <if test="qty==null">qty = null,</if>
		    <if test="createTime==null">create_time = null,</if>
		    <if test="createUser==null">create_user = null,</if>
		    <if test="joinId==null">join_id = null,</if>
		    <if test="active==null">active = null,</if>
		    <if test="activeUser==null">active_user = null,</if>
		    <if test="activeTime==null">active_time = null,</if>
		    <if test="activeMemo==null">active_memo = null,</if>
		    <if test="joinFlag==null">join_flag = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="lineid != null">and lineid = #{lineid}</when>
			<otherwise>and lineid = </otherwise>
		</choose>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.unlcn.ils.tps.E_joinIntentLine">
    delete from tps_join_intentline where 1=1 and lineid = #{lineid}
</delete>

<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="com.unlcn.ils.tps.E_joinIntentLine" resultMap="E_joinIntentLineResult">
	select 
		<include refid="column_sql"/>
	    from tps_join_intentline 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:deleteBatch,Generated=true -->
<delete id="deleteBatch" parameterType="List">
	delete from tps_join_intentline where lineid in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	#{entity.lineid}
</foreach>
</trim>
</delete>

<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="E_joinIntentLineResult">
	select 
		<include refid="column_sql"/>
	    from tps_join_intentline 
</select>

<!-- ElementID:selectByID,Generated=true -->
<select id="selectByID" parameterType="java.lang.String" resultMap="E_joinIntentLineResult">
	select 
		<include refid="column_sql"/>
	    from tps_join_intentline 
		 where tps_join_intentline.lineid = #{lineid,jdbcType=VARCHAR}
</select>

<!-- ElementID:selectByPage,Generated=true -->
<select id="selectByPage" parameterType="com.unlcn.ils.tps.E_joinIntentLine" resultMap="E_joinIntentLineResult">
	select 
		<include refid="column_sql"/>
	    from tps_join_intentline 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="E_joinIntentLineResult">
select 
	<include refid="column_sql"/> 
	from tps_join_intentline 
	where tps_join_intentline.lineid in (
		select distinct lineid from tps_join_intentline inner join
<foreach collection="list" item="entity" separator="inner join">
		(select 
			distinct lineid
			from tps_join_intentline 
			<where>
	        <if test="entity.lineid != null">and tps_join_intentline.lineid = #{entity.lineid}</if>
	        <if test="entity.startCity != null">and tps_join_intentline.start_city = #{entity.startCity}</if>
	        <if test="entity.destProvince != null">and tps_join_intentline.dest_province = #{entity.destProvince}</if>
	        <if test="entity.price != null">and tps_join_intentline.price = #{entity.price}</if>
	        <if test="entity.qty != null">and tps_join_intentline.qty = #{entity.qty}</if>
	        <if test="entity.createTime != null">and tps_join_intentline.create_time = #{entity.createTime}</if>
	        <if test="entity.createUser != null">and tps_join_intentline.create_user = #{entity.createUser}</if>
	        <if test="entity.joinId != null">and tps_join_intentline.join_id = #{entity.joinId}</if>
	        <if test="entity.active != null">and tps_join_intentline.active = #{entity.active}</if>
	        <if test="entity.activeUser != null">and tps_join_intentline.active_user = #{entity.activeUser}</if>
	        <if test="entity.activeTime != null">and tps_join_intentline.active_time = #{entity.activeTime}</if>
	        <if test="entity.activeMemo != null">and tps_join_intentline.active_memo = #{entity.activeMemo}</if>
	        <if test="entity.joinFlag != null">and tps_join_intentline.join_flag = #{entity.joinFlag}</if>
			</where>
		) ${entity.tableAlias} using (lineid)
</foreach>
)
</select>

<!-- ElementID:insert,Generated=true -->
<insert id="insert" parameterType="com.unlcn.ils.tps.E_joinIntentLine">
	insert into tps_join_intentline(
	         <if test="lineid != null">lineid</if>
	         <if test="startCity != null">,start_city</if>
	         <if test="destProvince != null">,dest_province</if>
	         <if test="price != null">,price</if>
	         <if test="qty != null">,qty</if>
	         <if test="createTime != null">,create_time</if>
	         <if test="createUser != null">,create_user</if>
	         <if test="joinId != null">,join_id</if>
	         <if test="active != null">,active</if>
	         <if test="activeUser != null">,active_user</if>
	         <if test="activeTime != null">,active_time</if>
	         <if test="activeMemo != null">,active_memo</if>
	         <if test="joinFlag != null">,join_flag</if>
	 	 	 )
	 values (
	         <if test="lineid != null">#{lineid,jdbcType=VARCHAR}</if>
	         <if test="startCity != null">,#{startCity,jdbcType=VARCHAR}</if>
	         <if test="destProvince != null">,#{destProvince,jdbcType=VARCHAR}</if>
	         <if test="price != null">,#{price,jdbcType=NUMERIC}</if>
	         <if test="qty != null">,#{qty,jdbcType=NUMERIC}</if>
	         <if test="createTime != null">,#{createTime,jdbcType=TIMESTAMP}</if>
	         <if test="createUser != null">,#{createUser,jdbcType=VARCHAR}</if>
	         <if test="joinId != null">,#{joinId,jdbcType=VARCHAR}</if>
	         <if test="active != null">,#{active,jdbcType=NUMERIC}</if>
	         <if test="activeUser != null">,#{activeUser,jdbcType=VARCHAR}</if>
	         <if test="activeTime != null">,#{activeTime,jdbcType=TIMESTAMP}</if>
	         <if test="activeMemo != null">,#{activeMemo,jdbcType=VARCHAR}</if>
	         <if test="joinFlag != null">,#{joinFlag,jdbcType=NUMERIC}</if>
	 	 	 )
</insert>

<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list">
	insert into tps_join_intentline (lineid,start_city,dest_province,price,qty,create_time,create_user,join_id,active,active_user,active_time,active_memo,join_flag) 
<foreach collection="list" item="entity" index="index" separator="union all">
		select 
		#{entity.lineid,jdbcType = VARCHAR},
				#{entity.startCity,jdbcType = VARCHAR},
				#{entity.destProvince,jdbcType = VARCHAR},
				#{entity.price,jdbcType = NUMERIC},
				#{entity.qty,jdbcType = NUMERIC},
				#{entity.createTime,jdbcType = TIMESTAMP},
				#{entity.createUser,jdbcType = VARCHAR},
				#{entity.joinId,jdbcType = VARCHAR},
				#{entity.active,jdbcType = NUMERIC},
				#{entity.activeUser,jdbcType = VARCHAR},
				#{entity.activeTime,jdbcType = TIMESTAMP},
				#{entity.activeMemo,jdbcType = VARCHAR},
				#{entity.joinFlag,jdbcType = NUMERIC}
		from dual
</foreach>
</insert>
</mapper>